body{
    background-color:lightpink;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color:#8b008b;
    font-size:xx-large;
}
h2{
    color:mediumorchid;
    font-size: x-large;
}